<div modal="showModal" close="editTaskCtrl.cancel()">
  <div class="modal-header">
      <h4>Edit Task</h4>
  </div>
  <div class="modal-body">
    <label for="taskTitle">Title</label>
    <input ng-model="editTaskCtrl.double.title" class="form-control" type="text" name="taskTitle" autofocus="true" required>

    <label for="taskDeadline">Deadline</label>
    <div class="row" ng-controller="datepickerController as datepickerCtrl">
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="fullDate" ng-model="editTaskCtrl.double.deadline" is-open="popup1.opened" datepicker-options="dateOptions" ng-model-options="{ timezone: 'UTC/GMT' } " ng-required="false" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="editTaskCtrl.ok()">Save</button>
    <button class="btn" ng-click="editTaskCtrl.cancel()">Discard</button>
  </div>
</div>
