.acme-navbar-text{
  color: white;
}

.header {
  background: #e1e7f3;
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.item {
  align-self: center;
}

.logo {
  height: 50px;
  margin-left: 50px;
}

.title {
  font-size: 20pt;
  font-weight: 600;
}

.log-out {
  margin-right: 50px;
}

.fa-sign-out {
  color: darkgrey;
}
