/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";
// $icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/"


/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$todo-grey: #959595;
$hover-background: #f6f6f6 !important;
$opened-list-header: #e1e7f3 !important;

html {
  min-height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  height: auto;
  width: 100%;
  min-height: 100%;
  .loading {
    overflow: hidden;
  }
}

.auth-forms {
  max-width: 350px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 60px;
}

.form-title {
  font-size: x-large;
  font-weight: 600;
}

.form-description {
  font-weight: 200;
  margin-top: 10px;
}

.lists {
  width: 60%;
  margin: 0 auto;
}

// .list-wrapper {
//   .fa {
//     color: transparent;
//   };
//   &:hover{
//     background-color: $hover-background;
//     .fa {
//       color: $todo-grey;
//     }
//   }
// }

.without-paddings {
  padding: 0 !important;
}

.md-expansion-panel-header-container {
  background-color: $opened-list-header
}

.list-name {
  font-size: 11pt;
  color: $todo-grey;
  font-weight: 800;
}

.task {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  .comments-count {
    display: block;
    font-size: 10pt;
    color: transparent;
  }
  .fa {
    color: transparent;
  };
  &:hover{
    background-color: $hover-background;
    .fa {
      color: $todo-grey;
    }
    .comments-count {
      color: black;
    }
  }
}

.completed {
  text-decoration-line: line-through;
}

.arrows {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  font-size: 8pt;
}

.task-checkbox {
  margin-left: 15px;
}

.task-info {
  margin-left: 20px;
  font-weight: 500;
  color: $todo-grey;
}

.task-options {
  width: 120px;
  font-size: 14pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
}

.task-form {
  margin-left: 35px;
}

.md-show {
  margin-top: 10px;
  margin-bottom: 10px;
}

.md-close {
  margin-top: 10px;
  margin-bottom: 10px;
}

.md-expansion-panel-collapsed {
  .fa {
    color: transparent;
  };
  &:hover{
    background-color: $hover-background;
    .fa {
      color: $todo-grey;
    }
  }
}

.task-deadline {
  display: block;
  margin-bottom: auto;
  font-size: 7pt;
  &.past {
    color: #a75e5e;
  }
  &.future {
    color: #98bdab;
  }
}

.commments-popup {
  width: 50%
}

.comment {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-header {
  display: flex;
  width: 80px;
  align-items: baseline;
  justify-content: space-between;
  .fa {
    color: $todo-grey;
    font-size: 12pt !important;
  }
}

.comment-created-at {
  display: block;
  font-size: 9pt;
  color: $todo-grey
}

.comment-body {
  font-size: 11pt;
}

.attachment-icon {
  position: absolute;
  z-index: 9999;
  right: -216px;
  bottom: 140px;
  .fa {
    color: $todo-grey;
  }
}


.options {
  // border-style: solid;
  // border-width: thin;
  // border-color: $todo-grey;
  // &.fa.fa-trash-o{
  //   padding-left: 10px;
  // }
}

// h1 {
//   text-align: center;
// }
//
// h2 {
//   text-align: center;
// }
//
// .ui-datepicker {
//    z-index:1151 !important;
// }
//
// .list {
//   width: 60%;
//   display: table;
//   margin: 0 auto;
//   padding-bottom: 3em;
//   .header {
//     display: table;
//     width: 100%;
//     background: $header-background;
//     &:hover {
//       .options {
//         .fa {
//           color: lightgray;
//         }
//         .fa-trash {
//           border-left: solid 1px lightgray;
//         }
//       }
//     }
//   }
//   .title {
//     width: 70%;
//     display: table-cell;
//     padding: 0 20px;
//     h3 {
//      display: inline-block;
//      padding: 0 0 0 15px;
//      color: white;
//    }
//    .fa {
//      font-size: 25px;
//      color: white;
//    }
//   }
//   .options {
//     display: table-cell;
//     text-align: right;
//     vertical-align: middle;
//     width: 30%;
//     .fa {
//       color: transparent;
//       font-size: 20px;
//       padding: 0 5px;
//     }
//   }
// }
//
// p.title {
//   text-align: left;
//   color: white;
//   font-size: 25px;
// }
//
//
// i.fa-plus {
//   font-size: 26px;
//   color: #589171;
//   vertical-align: middle;
//   margin-right: 15px;
//   &.add-todo{
//     background-color: #565656;
//     color: transparent;
//     text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//          background-clip: text;
//   }
// }
//
// a.add-todo-list {
//   width: 200px;
//   background: $header-background;
//   border-color: #3B5882;
//   color: white;
//   display: block;
//   margin: 0 auto;
//   border-radius: 2px;
// }
//
//
// .task_form {
//   background: #D1D1D1;
//   display: table;
//   padding: 5px 15px 10px 15px;
//   width: 100%;
//   vertical-align: top;
//   input#title {
//     height: 34px;
//     width: 77%;
//     display: table-cell;
//   }
//   .btn .btn-success {
//     background: #589171;
//     border-color: #589171;
//   }
// }
//
// .tasks {
//   border-bottom-right-radius: 15px;
//   border-bottom-left-radius: 15px;
//   border: 1px solid #ACACAC;
//   overflow: hidden;
// }
//
// .task {
//   display: table;
//   background: white;
//   color: #ACACAC;
//   width: 100%;
//   height: 40px;
//   border-top: #E7EBEA;
//   border-style: solid;
//   border-width: thin;
//   .checkbox {
//     display: table-cell;
//     width: 5%;
//     border-right-color: #efb6a1;
//     border-right-style: double;
//     input {
//       top: 0;
//       right: 0;
//       left: 0;
//       bottom: 0;
//       margin: auto;
//       display: block;
//     }
//   }
//   .info {
//     display: table-cell;
//     width: 70%;
//     vertical-align: middle;
//     font-size: 14px;
//     padding-left: 15px;
//     padding-right: 5px;
//     border-right-color: #acacac;
//     border-right-width: thin;
//     border-right-style: solid;
//     span {
//       color: #a56867;
//       float: right;
//       font-size: 12px;
//     }
//   }
//   .options {
//     display: table-cell;
//     width: 16%;
//     .fa.fa-trash,
//     .fa-caret-up,
//     .fa-caret-down,
//     .fa-pencil {
//       border-left: solid 1px white;
//       color: white;
//     }
//   }
//   &:hover {
//     background: #FCFED5;
//     .options {
//       .fa.fa-trash,
//       .fa-caret-up,
//       .fa-caret-down,
//       .fa-pencil {
//         border-left: solid 1px lightgray;
//         color: lightgray;
//       }
//     }
//   }
//   &:last-of-type {
//     border-radius: 0px 0px 15px 15px;
//     -moz-border-radius: 0px 0px 15px 15px;
//     -webkit-border-radius: 0px 0px 15px 15px;
//     border: 1px solid #ACACAC;
//   }
// }
//
// .task.completed {
//   background: rgba(221, 221, 221, 0.84);
//   text-decoration: line-through;
//   .fa.fa-trash {
//     border-left: none;
//     color: transparent;
//   }
//   &:hover {
//     .fa.fa-trash {
//       color: white;
//     }
//   }
// }
//
// div.modal-content {
//   padding: 20px;
//   display: block;
//   z-index: -1;
// }
//
// button.close {
//   position: absolute;
//   top: 20px;
//   right: 20px;
// }
//
// .submit_form {
//   margin: 20px auto;
//   display: block;
// }
//
// a.btn.btn-primary.btn-lg {
//   margin: 0 auto;
//   display: block;
//   width: 150px;
// }

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
