/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";
// $icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/"


/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$todo-grey: #959595;
$hover-background: #f6f6f6 !important;
$opened-list-header: #e1e7f3 !important;

@mixin options {
  font-size: 14pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

html {
  min-height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  height: auto;
  width: 100%;
  min-height: 100%;
  .loading {
    overflow: hidden;
  }
}

.auth-forms {
  max-width: 350px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 60px;
}

.form-title {
  font-size: x-large;
  font-weight: 600;
}

.form-description {
  font-weight: 200;
  margin-top: 10px;
}

.lists {
  width: 60%;
  margin: 0 auto;
}

// .list-wrapper {
//   .fa {
//     color: transparent;
//   };
//   &:hover{
//     background-color: $hover-background;
//     .fa {
//       color: $todo-grey;
//     }
//   }
// }

.without-paddings {
  padding: 0 !important;
}

.md-expansion-panel-header-container {
  background-color: $opened-list-header
}


.collapsed-list {
  .fa {
    color: transparent;
  };
  &:hover{
    background-color: $hover-background;
    .fa {
      color: $todo-grey;      
    }
  }
}

.list-name {
  font-size: 11pt;
  color: $todo-grey;
  font-weight: 800;
}

.list-options {
  @include options;
  width: 45px;
  margin-right: 0px;  
}

.task {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  .comments-count {
    display: block;
    font-size: 10pt;
    color: transparent;
  }
  .fa {
    color: transparent;
  };
  &:hover{
    background-color: $hover-background;
    .fa {
      color: $todo-grey;
    }
    .comments-count {
      color: black;
    }
  }
}

.completed {
  text-decoration-line: line-through;
}

.arrows {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  font-size: 8pt;
}

.task-checkbox {
  margin-left: 15px;
}

.task-info {
  margin-left: 20px;
  font-weight: 500;
  color: $todo-grey;
}

.task-options {
  @include options;
  width: 120px;
  margin-right: 15px;  
}

.task-form {
  margin-left: 35px;
}

.md-show {
  margin-top: 10px;
  margin-bottom: 10px;
}

.md-close {
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-deadline {
  display: block;
  margin-bottom: auto;
  font-size: 7pt;
  &.past {
    color: #a75e5e;
  }
  &.future {
    color: #98bdab;
  }
}

.commments-popup {
  width: 50%
}

.comment {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-header {
  display: flex;
  width: 80px;
  align-items: baseline;
  justify-content: space-between;
  .fa {
    color: $todo-grey;
    font-size: 12pt !important;
  }
}

.comment-created-at {
  display: block;
  font-size: 9pt;
  color: $todo-grey
}

.comment-body {
  font-size: 11pt;
}

.attachment-icon {
  // position: absolute;
  z-index: 9999;
  right: -216px;
  bottom: 140px;
  .fa {
    color: $todo-grey;
  }
}

.error {
  background: red;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
