<div class="container">

  <!-- navbar component -->
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <!-- Sign in/out form and user signed in details -->
  <div class="panel panel-default">
    <div class="panel-heading">Sign in via email</div>
    <div class="panel-body">

      <label>user signed in?</label>
      <p>{{ user.signedIn ? "true" : "false" }}</p>
      <label>user email</label>
      <p>{{ user.email || "n/a" }}</p>

      <!-- sign in form -->
      <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}" ng-if="!user.signedIn">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" ng-model="loginForm.email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" ng-model="loginForm.password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <!-- sign out button -->
      <button class="btn btn-default" ng-click="signOut()" ng-if="user.signedIn">Sign out</button>

    </div>
  </div>

  <!-- show lists data -->
  <div class="panel panel-default" ng-if="user.signedIn">
  <div class="panel-heading">List</div>
    <div class="panel-body">
      <!-- form for add new list -->
      <div class="form-group">
        <form ng-submit="createList(newListForm)" role="form" ng-init="newListForm = {}">
          <label for="name">Create New List</label>
          <input type="text" id="name"  class="form-control" ng-model="newListForm.name" required autofocus>
        </form>
      </div>
      <!-- show certain list data -->
      <div ng-repeat="list in lists" ng-if="user.signedIn" class="list" id="{{list.id}}">
        <div class="header">
          <div class="title">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            <h3>{{ list.name }} |id:{{ list.id }}</h3>
          </div>
          <div class="options">
            <a ng-click="removeList(list)" href="javascript:void(0)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
            <a ng-click="open(list)" href="javascript:void(0)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="tasks_wrapper" ng-controller="TasksController as tasksCtrl">
          <!-- form for add new tasks to list -->
          <div class="task_form" id="list.id">
            <form ng-submit="tasksCtrl.createTask(newTaskForm)" role="form" ng-init="newTaskForm = {listId: list.id}">
              <i class="fa fa-plus"></i>
              <input type="text" id="title"  class="form-control" ng-model="newTaskForm.title" placeholder="Start typing here to create a task…" required>
              <button ng-click="tasksCtrl.createTask(newTaskForm)" class="btn btn-success add_new_task" type="button" name="button">Add Task</button>
            </form>
          </div>
          <!-- list of tasks -->
          <div class="tasks" id="list.id" ng-init="tasks = tasksCtrl.getTasks(list.id)" >
            <div class="task" ng-repeat="task in tasks" ng-class="task.completed ? 'completed' : 'active'">
              <div class="checkbox">
                <input type="checkbox" ng-model="task.completed" ng-click="tasksCtrl.toggleCompleted(task)">
              </div>
              <div class="info">
                {{list.id}} | {{task.id}} | {{task.title}} | {{task.completed}} | {{task.deadline}} | {{task.position}}
              </div>
              <div class="options">
                <a ng-click="tasksCtrl.changePosition(task, 'up')" href="javascript:void(0)" ng-if="!task.completed">
                  <i class="fa fa-caret-up" aria-hidden="true"></i>
                </a>
                <a ng-click="tasksCtrl.changePosition(task, 'down')" href="javascript:void(0)" ng-if="!task.completed">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <a ng-click="tasksCtrl.updateTask(task)" href="javascript:void(0)" ng-if="!task.completed">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a ng-click="tasksCtrl.removeTask(task)" href="javascript:void(0)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      <p ng-if="!user.signedIn">You must be signed in to request lists</p>
    </div>
  </div>

</div>
