<md-dialog aria-label="Add Comment" class="commments-popup">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add Comment</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon aria-label="Close dialog">
          <i class="fa fa-times fa-lg" aria-hidden="true"></i>
        </md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak="">
    <div class="md-dialog-content">
      <div class="comments-wrapper" ng-cloak="">
        <!-- Add new comment form -->
        <div class="add-new-comment">
          <form ng-submit="vm.createComment(newCommentForm)" role="form" name="newCommentForm" >
            <md-input-container class="md-block">
             <textarea ng-model="newCommentForm.body" minlength="10" md-maxlength="256" maxlength="256" rows="3" md-select-on-focus placeholder="Enter Your Comment"></textarea>
           </md-input-container>
           <div class="attachment-icon">
             <input type="file" ngf-select ng-model="newCommentForm.attachment" name="file" accept="image/*" ngf-max-size="10MB" ngf-model-invalid="errorFile">
             <a ng-click="vm.attachFile(comment, file)" href="javascript:void(0)">
               <i class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
             </a>
           </div>
           <div class="action-buttons">
             <md-button type="submit" name="button" class="md-raised md-primary">Save</md-button>
             <md-button type="button" ng-click="vm.cancel()">Cancel</md-button>
           </div>
          </form>
        </div>

        <md-divider></md-divider>
        <!-- comment body -->
        <div ng-show="vm.progressBar.show" layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div ng-hide="vm.progressBar.show" class="comment" ng-repeat="comment in comments">
          <div class="comment-header">
            <span class="comment-created-at">{{comment.createdAt | date : 'MM/dd/yyyy'}}</span>
            <a ng-click="vm.removeComment(comment)" href="javascript:void(0)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </div>
          <div class="comment-body">
            {{comment.body}}
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>

</md-dialog>
